<h1>ng-content</h1>
<p> allows you to insert dynamic external content (HTML elements, components, or text) from a parent component into a child component's template </p>

<div class="container" >
    <app-card>
        <h2 card-title>Acer</h2>
        <p card-description>This is a sample description for the Acer card.</p>
        <button card-button>Buy Now</button>
    </app-card>
    <app-card>
        <h2 card-title>HP</h2>
        <p card-description>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, qui.</p>
        <button card-button>Buy Now</button>
    </app-card>
    
</div>