<!-- <h1>Component Life Cycle</h1>
<app-user></app-user>
<app-login></app-login>
<app-data-binding></app-data-binding> -->
<!-- 09/06/2026 -->
<!-- <app-directives></app-directives> -->
<!-- <app-custom-directive></app-custom-directive> -->
<!-- <app-pips></app-pips> -->

<!-- Learn @Input and @Output -->
<!-- <app-alert [message]="'Hello from parent component!'" [alertType]="'Success'"></app-alert>
<app-user></app-user>

<hr>

<app-my-button [btnText]="'Click'" [btnClass]="'homeBtn'" (onBtnClick)="onHomeBtnClick($event)"></app-my-button> -->


<!-- Learn viewChield -->
<!-- <app-view-chield></app-view-chield> -->


<!-- Learn ng-container -->
<!-- <app-ngcontainer></app-ngcontainer> -->
<!-- <app-ngcontant></app-ngcontant> -->
<!-- <app-dashboard></app-dashboard> -->


<!-- learn @Input -->
<app-card-input></app-card-input>